.header {
    background-color: #1c2120;
}

.header a {
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
}

.nav ul {
    display: flex;
    align-items: center;
    list-style: none;
}

.nav ul li + li {
    margin-left: 20px;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 25px 20px;
}
